.slick-prev,
.slick-next {
  font-size: 24px;
  color: #fff;
  background-color: #000;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.slick-prev {
  margin-left: 10px;
}

.slick-next {
  margin-right: 10px;
}